# Local Terraform files
.terraform/
*.tfstate
*.tfstate.*

# Module output files
user_profile.json

# Crash log
crash.log

# BrainxIO-specific
.brainxio/

# Project-specific
project.json

# Make-related
*.bak
